*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    margin: 60px 100px;
    width: 90%;
    background-color: pink;
    flex-direction: column;
}
.row1{
    display: flex;
    flex-direction: row;
    flex: 1;

}
.son1{
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

}
.son1 div{
    flex:1;

}
.son{
    background-color: burlywood;
    flex: 1;
    position: relative;
}
.title{
    /* FuturaTEEBolCon */
    position:absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    top: 0;
    right: 0;
}
